<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
    <script type='text/javascript' src='javascripts/playground.js'></script>
  </head>
  <body onload=init()>
    <!-- <div><canvas id='stackedHist' width="512" height="100"></canvas></div> -->
    <div><canvas id='sparkline' width="512" height="20"></canvas></div>
    <div><canvas id='heatmap' width="512" height="20"></canvas></div>
    <div><canvas id='hilbertImage' width="512" height="512"></canvas></div>
    <div><canvas id='scatter' width="100" height="100"></canvas></div>

    <!-- <div><canvas id='hilbertGrid' width="1024" height="1024"></canvas></div> -->
  </body>
</html>